@page "/"

@inject IAppDataSingleton AppDataSingleton;
@inject IAppDataTransient AppDataTransient;
@inject IAppDataScoped AppDataScoped;

<Heading Size="HeadingSize.Is1" TextAlignment="TextAlignment.Center">
    und Herzlich Willkommen im
</Heading>

<Div Flex="Flex.JustifyContent.Center" Margin="Margin.Is1">
    <Image Source="@AppDataSingleton.ImageLogoFerienhausTausendblatt()" Margin="Margin.Is1" Width="Width.Is75"></Image>
</Div>

<Paragraph Margin="Margin.Is5.FromTop" TextAlignment="TextAlignment.Center">
    In dieser 'WebApp' finden Sie ein paar Tips für Ihren Aufenthalt.
</Paragraph>

<Paragraph TextAlignment="TextAlignment.Center">
    Wir wünschen Ihnen ganz viel Spaß
</Paragraph>

<Paragraph TextAlignment="TextAlignment.Center">
    Beim Wandern, Biken, Schwimmen, Releaxen am Waldsee Rieden
</Paragraph>


<Paragraph Margin="Margin.Is5.FromTop"  TextAlignment="TextAlignment.Center">
    Sie können uns jederzeit über folgende Medien erreichen
</Paragraph>

<ButtonContact Image="images/Icons/WhatsApp.bw.svg" Caption="WathsApp" Action="https://wa.me/4915122341338" />
<ButtonContact Image="images/Icons/Phone.bw.svg" Caption="Anruf" Action="tel:+4915122341338" />
<ButtonContact Image="images/Icons/Email.bw.svg" Caption="Email" Action="mailto:ferienhaus@klapperich.de?subject=Frage%20Kontakt" />
<ButtonContact Image="images/Icons/Sms.bw.svg" Caption="Sms" Action="sms:+4915122341338" />

<Paragraph Margin="Margin.Is5.FromTop" TextAlignment="TextAlignment.Center">
    Verbesserungs- bzw. Änderungswünsche zu dieser 'WebApp' können Sie uns gerne per <Icon Name="IconName.Mail" /> Email mitteilen.
</Paragraph>

<Div Flex="Flex.JustifyContent.Center" Margin="Margin.Is2.FromTop.Is3.FromBottom">
    <ButtonContact Image="images/Icons/Email.bw.svg" Caption="Email" Action="mailto:ferienhaus@klapperich.de?subject=App" />
</Div>

<Paragraph TextAlignment="TextAlignment.Center">
    Wir freuen uns auf Ihr Anregungen, Kritik und Wünsche.
</Paragraph>



<UnderConstruction></UnderConstruction>


@code {

}
