@page "/qr/tausendblatt"
@inject IAppDataSingleton AppData

<PageHeader Page="@Page" />


<Paragraph>
    Auf der Suche nach einem geeigneten Namen und entsprechendem Logo für die Häuser, stieß unsere Tochter auf das Tausendblatt.
</Paragraph>

<Paragraph>
    Am Seerundweg befindet sich die nachfolgende Tafel.
</Paragraph>

<Div Margin="Margin.Is2.FromTop.Is4.FromBottom" TextAlignment="TextAlignment.Center">
    <Image Source="images/Photos/TausendblattSchildAmWaldsee.jpg" Width="Width.Is50"></Image>
</Div>

<Paragraph>
    Das Tausendblatt - Nutzen für den Waldsee
    kein Unkraut, sondern Nutzpflanze!
</Paragraph>

<Paragraph>
    Der See stand 2001 kurz vor dem Umkippen und sollte trocken gelegt werden.
    Durch einen Bypass wurde dieses verhindert.
</Paragraph>

<Paragraph>
    Darüber hinaus wurde die Wasserqualität durch die Anpflanzung
    des Tausendblatts, auf Initiative des Landesamtes für Umwelt, verbessert.
    Die Wasserpflanze erzeugt in hohem Maße Sauerstoff, ist wasserklärend und hemmt den Algenwuchs.
    "Dadurch wurde das Selbstreinigungsvermögen des Sees erheblich erhöht".
</Paragraph>

<Paragraph>
    Weiter Infos  <Link To="https://de.wikipedia.org/wiki/Tausendblatt">Wikipedia:Tausendblatt</Link>  <Link To="http://www.rhein-zeitung.de/region/lokales/mayen_artikel,-wasserqualitaet-der-badeseen-im-kreis-myk-ist-hervorragend-_arid,1360748.html">Rhein-Zeitung:Wasserqaulität des Waldsee Rieden und wie das Tausendblatt dazu Betrug</Link>
</Paragraph>

<UnderConstruction></UnderConstruction>

@code {
    [Parameter]
    public string? Route { get; set; }

    [Parameter]
    public Page? Page { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Page = AppData.Pages.QrTausendblatt;
        Route = Page.Route;
    }
}
