@page "/qr/traumpfade"
@inject IAppDataSingleton AppData

<PageHeader Page="@Page" />

<Div Flex="Flex.JustifyContent.Center" Margin="Margin.Is0.FromTop.Is2.FromBottom">
    <Image Source="images/Photos/Traumpfad Logo.svg" Width="Width.Is25"></Image>
    <Image Source="images/Photos/Traumpfaedchen Logo.svg" Width="Width.Is25"></Image>
</Div>

<Paragraph>
    Rund um Rhein, Mosel und Eifel erstrecken sich sage und schreibe 27 Traumpfade und 14 Traumpfädchen, die ihrem Namen alle Ehre machen. Sie sind wahrlich traumhaft und spiegeln die dortige sagenhafte Natur aus der Ferne fast wie eine Fata Morgana wider. Näher betrachtet ist alles jedoch real und zum Greifen nah. Grüne Landschaften, malerische Dörfer und Städtchen, historische Orte, weite Panoramen, unzählige Plätze zum Verweilen – das sind die Traumpfade.
</Paragraph>

<Paragraph>
    Direkt am Waldsee Rieden starten der Traumpfad <Link To="https://www.traumpfade.info/pfad/traumpfad/waldseepfad-rieden/">Waldseepfad Rieden</Link> (14,2 km und 464 Höhenmeter)
    und das Traumpfädchen <Link To="https://www.traumpfade.info/pfad/traumpfaedchen/riedener-seeblick/">Riedener Seeblick</Link> (5 km und 157 Höhenmeter)
</Paragraph>


<Paragraph>
    Weiter Wege finden Sie in auf der Traumpfade Webseite oder der Traumpfade App.

</Paragraph>

<Div>
    <ButtonContact Image="images/Icons/Web.bw.svg" Caption="Website" Action="https://www.traumpfade.info/"/>
    <ButtonContact Image="images/Icons/Apple.AppStore.bw.svg" Caption="App vom AppStore" Action="https://itunes.apple.com/de/app/id687243349?mt=8" />
    <ButtonContact Image="images/Icons/Google.PlayStore.bw.svg" Caption="App vom PlayStore" Action="https://play.google.com/store/apps/details?id=de.alpstein.alpregio.Traumpfade&hl=de" />
</Div>



<UnderConstruction></UnderConstruction>

@code {
    [Parameter]
    public string? Route { get; set; }

    [Parameter]
    public Page? Page { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Page = AppData.Pages.QrTraumpfade;
        Route = Page.Route;
    }
}
