@page "/qr/udelsheck"
@inject IAppDataSingleton AppData

<PageHeader Page="@Page" />


<Div Flex="Flex.JustifyContent.Center" Margin="Margin.Is2.FromTop">
    <Image Source="images/Fotos/KreuzUdelsheck.jpg" Width="Width.Is75"></Image>
</Div>

<Div Flex="Flex.JustifyContent.Center" Margin="Margin.Is2.FromTop">
    <Image Source="images/Fotos/SchildKreuzUdelsheck.png" Width="Width.Is25"></Image>
</Div>

<UnderConstruction></UnderConstruction>

@code {
    [Parameter]
    public string? Route { get; set; }

    [Parameter]
    public Page? Page { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Page = AppData.Pages.QrUdelsheck;
        Route = Page.Route;
    }
}
