@page "/qr/wandern"
@inject IAppDataSingleton AppData

<PageHeader Page="@Page" />


<Paragraph>
    Wir nutzen zum Aufzeichnen unserer aktivitäten Koomot. Das ist wie das Navigationssystem für das Auto.
</Paragraph>


<Div>
    <ButtonContact Image="images/Icons/Hiking.bw.svg" Caption="Unsere aktiviäten auf Koomot" Action="https://www.komoot.de/user/493111796573?ref=imk" />
</Div>

<UnderConstruction></UnderConstruction>

@code {
    [Parameter]
    public string? Route { get; set; }

    [Parameter]
    public Page? Page { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Page = AppData.Pages.QrWandern;
        Route = Page.Route;
    }
}
