@inject IAppDataSingleton AppDataSingleton
@inject IAppDataTransient AppDataTransient
@inject IAppDataScoped AppDataScoped
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject ILogger<App> Logger

@using Microsoft.AspNetCore.WebUtilities

<Blazorise.ThemeProvider Theme="@theme">
    <Router AppAssembly="typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="routeData" DefaultLayout="typeof(TausendblattGuest.Layouts.MainLayout)" />
        </Found>
        <NotFound>
            <Paragraph Margin="Margin.Is5" TextAlignment="TextAlignment.Center">
                <Paragraph Margin="Margin.Is1">
                    Enschuldigung, hier gibt es noch nichts zu sehen.
                </Paragraph>
                <Button Color="Color.Primary" Margin="Margin.Is1" Clicked="@ButtonGoToMainPage">Mit zurück kommen sie wieder in die App.</Button>
            </Paragraph>
        </NotFound>
    </Router>
    <MessageProvider />
    <PageProgressProvider />
</Blazorise.ThemeProvider>
@code {
    private Theme theme = new()
        {
            BarOptions = new()
            {
                HorizontalHeight = "72px"
            },
            ColorOptions = new()
            {
                Primary = "#5EA8F4",
                Secondary = "#FAA567",
                Success = "#9BDA1E",
                Info = "#9BD8FE",
                Warning = "#F8B86C",
                Danger = "#F95741",
                Light = "#F0F0F0",
                Dark = "#535353",
            },
            BackgroundOptions = new()
            {
                Primary = "#5EA8F4",
                Secondary = "#FAA567",
                Success = "#9BDA1E",
                Info = "#9BD8FE",
                Warning = "#F8B86C",
                Danger = "#F95741",
                Light = "#F0F0F0",
                Dark = "#535353",
            },
            InputOptions = new()
            {
                CheckColor = "#5EA8F4",
            }
        };

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        AppDataSingleton.NavigationManager = NavigationManager;

        var uri = AppDataSingleton.NavigationManager.ToAbsoluteUri(AppDataSingleton.NavigationManager.Uri);

        AppDataSingleton.Logger = Logger;
        AppDataSingleton.UserAgent = await JSRuntime.InvokeAsync<string>("window.deviceInfo.getUserAgent");
    }

    void ButtonGoToMainPage()
            => AppDataSingleton!.NavigationManager!.NavigateTo("/");

    public static RenderFragment FavIcon(IconSize iconSize = IconSize.Default)
            => iconSize switch
            {
                IconSize.Small =>@<img src="/favicon.svg" style="width:16px; height: 16px" />,
                IconSize.Large =>@<img src="/favicon.svg" style="width:32px; height: 32px" />,
                _ =>@<img src="/favicon.svg" style="width:16px; height: 16px" />
            };
}
