<Paragraph Margin="Margin.Is5" TextAlignment="TextAlignment.Center" TextWeight="TextWeight.Bold">
    Diese App befindet sich noch im Aufbau
</Paragraph>

<Div Flex="Flex.JustifyContent.Center" Margin="Margin.Is5.FromTop.Is5.FromBottom">
    <Image Source="images/Under Construction.jpg" Margin="Margin.Is5.FromStart.Is5.FromEnd" Width="Width.Is100"></Image>
</Div>

<Paragraph TextAlignment="TextAlignment.Center">
    Verbesserungs- bzw. Änderungswünsche können Sie uns gerne per <Icon Name="IconName.Mail" /> Email mitteilen.
</Paragraph>

<Paragraph TextAlignment="TextAlignment.Center">
    Wir freuen uns auf Ihr Anregungen, Kritik und Wünsche.
</Paragraph>

<Div Flex="Flex.JustifyContent.Center" Margin="Margin.Is3.FromTop.Is5.FromBottom">
    <ButtonContact Margin="Margin.Is3.FromTop" Image="images/Icons/Email.bw.svg" Caption="Email" Action="mailto:ferienhaus@klapperich.de?subject=App" />
</Div>

@code {
}
