<Paragraph Margin="Margin.Is5" TextAlignment="TextAlignment.Center" TextWeight="TextWeight.Bold">
    Diese App befindet sich noch im Aufbau
</Paragraph>

<Div Flex="Flex.JustifyContent.Center" Margin="Margin.Is5.FromTop.Is5.FromBottom">
    <Image Source="images/Under Construction.svg" Margin="Margin.Is1.FromStart.Is1.FromEnd" Width="Width.Is25"></Image>
</Div>



@code {
}
